.starship_avalon {
  width: 100%;
  margin-bottom: -400px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.banner {
  position: relative;
  top: -150px;
  z-index: -1;
}

.bannerText {
  margin: 0 15%;
  text-align: center;
}

.bannerArrows {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.transformedArrow1 {
  margin-left: 0;
}
.transformedArrow {
  transform: rotateZ(90deg);
}

@media only screen and (max-width: 500px) {
  .banner {
    top: -120px;
  }

  .starship_avalon {
    margin-bottom: -300px;
  }
}

@media only screen and (max-width: 400px) {
  .banner {
    top: -150px;
  }
}
