.footer {
  /* position: sticky; */
  /* bottom: 0; */
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-left: 15%;
  margin-right: 15%;
  padding: 10px;
}

.developer {
  color: #fff;
  text-decoration: none !important;
}

.footerIcons {
  margin: 0 10px;
  font-size: 20px !important;
  position: relative;
  top: 2.5px;
}

@media only screen and (max-width: 600px) {
  .footer {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media only screen and (max-width: 406px) {
  .footer {
    margin-left: 1px;
    margin-right: 1px;
  }
}
