.header {
  height: 50px;
  position: sticky;
  top: 0;
  background: black;
  z-index: 5;
}

.header_container {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10%;
}

.header_logo {
  width: 45px;
}

.header-search-nav-cart {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header_search {
  display: flex;
  align-items: center;
}

.header_searchInput {
  position: relative;
  left: 30px;
  background-color: transparent;
  color: white;
  border: none;
  padding: 15px;
  width: 0px;
  height: 35px;
  border-radius: 50px;
  transition: all 0.3s ease;
  z-index: 4;
}

.header_searchInput:focus {
  border: 2px solid white;
  width: 350px;
  padding: 0 15px;
  transition: all 0.5s 0.2s ease;
  z-index: 2;
}

.searchIcon {
  color: white;
  z-index: 3;
  cursor: pointer;
}

.header_nav {
  margin-left: 10px;
  color: #fff;
  text-decoration: none !important;
}

.nav_bold {
  font-weight: bold;
  font-size: 15px;
}

.signIn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  border-radius: 50px;
  padding: 0 2px 2px 7px;
}

.your_orders {
  position: relative;
  bottom: 1px;
  border: 2px solid white;
  border-radius: 50px;
  padding: 2.5px 7px 3px 7px;
}

.smallArrow {
  position: relative;
  top: 1.5px;
}

.arrow {
  position: relative;
  top: 1px;
}

.arrow1 {
  margin-left: 4px;
  animation: arrow-anime 1s infinite 0.3s;
}
.arrow2 {
  animation: arrow-anime 1s infinite 0.4s;
}
.arrow3 {
  animation: arrow-anime 1s infinite 0.5s;
}

@keyframes arrow-anime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.cartItem {
  position: relative;
  z-index: 2;
  bottom: 15px;
  left: 14px;
  border-radius: 10px;
  padding: 0 5px;
}

.cartIcon {
  position: relative;
  top: 5px;
  transform: rotateY(180deg);
}
