.header {
  height: 50px;
  position: sticky;
  top: 0;
  background: black;
  z-index: 5;
}

.header_container {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10%;
}

.header_logo {
  width: 45px;
}

.header-search-nav-cart {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header_search {
  display: flex;
  align-items: center;
}

.header_searchInput {
  position: relative;
  left: 30px;
  background-color: transparent;
  color: white;
  border: none;
  padding: 15px;
  width: 0px;
  height: 35px;
  border-radius: 50px;
  transition: all 0.3s ease;
  z-index: 4;
}

.header_searchInput:focus {
  border: 2px solid white;
  width: 350px;
  padding: 0 15px;
  transition: all 0.5s 0.2s ease;
  z-index: 2;
}

.searchIcon {
  color: white;
  z-index: 3;
  cursor: pointer;
}

.header_nav {
  margin-left: 10px;
  color: #fff;
  text-decoration: none !important;
}

.nav_bold {
  font-weight: bold;
  font-size: 15px;
}

.signIn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  border-radius: 50px;
  padding: 0 2px 2px 7px;
}

.smallArrow {
  position: relative;
  top: 1.5px;
}

.arrow {
  position: relative;
  top: 1px;
}

.arrow1 {
  margin-left: 4px;
  animation: arrow-anime 1s infinite 0.3s;
}
.arrow2 {
  animation: arrow-anime 1s infinite 0.4s;
}
.arrow3 {
  animation: arrow-anime 1s infinite 0.5s;
}

@keyframes arrow-anime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.cart {
  margin: 0 !important;
}

.cartItem {
  position: relative;
  bottom: 15px;
  left: 14px;
}

.cartIcon {
  position: relative;
  top: 5px;
  transform: rotateY(180deg);
}

@media only screen and (max-width: 768px) {
  .header_container {
    margin: 0 10px;
  }

  .header_searchInput:focus {
    width: 250px;
  }

  .nav_bold {
    font-size: 12px;
  }
}

@media only screen and (max-width: 500px) {
  .header_logo {
    width: 35px;
  }

  .header_container {
    margin: 0 4px;
  }

  .nav_bold {
    font-size: 10px;
  }

  .header_searchInput {
    left: 20px;
    height: 28px;
  }

  .header_searchInput:focus {
    border: 1px solid white;
    width: 200px;
    padding: 0 10px;
  }

  .searchIcon {
    font-size: 16px !important;
  }

  .signIn {
    border: 1px solid white;
    border-radius: 50px;
    padding: 0 0 0 4px;
  }

  .smallArrow {
    top: -0.5px;
  }

  .arrow {
    top: -0.1px;
  }

  .orderIcon {
    font-size: 16px !important;
  }

  .cartItem {
    bottom: 11px;
    left: 11px;
    font-size: small;
  }

  .cartIcon {
    top: 3px;
    font-size: 16px !important;
  }
}
