.home {
  margin: 0 10%;
}

.home_itemsRow {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transition: all 1s linear;
  /* margin-left: 5px; */
  /* margin-right: 5px; */
}

@media only screen and (max-width: 768px) {
  .home {
    margin: 100px 15px 0 15px;
  }
}

@media only screen and (max-width: 500px) {
  .home {
    margin: 200px 10px 0 10px;
  }
}
