.payment {
  /* background-color: darkgrey; */
}

.payment_container > h1 {
  text-align: center;
  padding: 10px;
  font-weight: 400;
  /* background-color: darkkhaki; */
  border-bottom: 1px solid lightgray;
}

.payment_section {
  display: flex;
  padding: 20px;
  margin: 0 20px;
  border-bottom: 1px solid lightgray;
}

.payment_title {
  flex: 0.2;
}

.payment_address,
.payment_items,
.payment_details {
  flex: 0.8;
}

.payment_details > form {
  max-width: 400px;
}

.payment_details > h3 {
  padding-bottom: 20px;
}

.payment_details > form > div > button {
  width: 100%;
  font-weight: bolder;
  margin-top: 10px;
}

@media only screen and (max-width: 768px) {
  .payment_section {
    padding: 10px;
    margin: 0 5px;
  }

  .payment_title {
    padding-right: 5px;
  }

  .payment_priceContainer > h3 {
    padding-left: 10px;
  }
}
